

<h1>@ViewBag.title</h1>

<form method="post">

    @foreach (var profile in ViewBag.profiles)
    {
        <input type="checkbox" name="profileIds" id="@profile.ID" value="@profile.ID" />
        <label for="@profile.ID">@profile.Title</label>
        <br />
    }

    <input type="submit" value="Remove Selected Profile(s)" />
</form>
